@import '../../sass/variables.scss';

.root--shop--btn {
  border-radius: 30px !important;
  padding: 0.275rem 1.15rem !important;
  border: 1.5px solid transparent !important;
  background: $black !important;
  color: $white !important;
  text-transform: capitalize !important;
  font-size: 1rem !important;
  letter-spacing: 1px !important;
}

// Material UI button class //
.MuiButton-root {
  transition: background 0.2s ease-in-out !important;
}
.MuiButton-root:hover {
  background: $medium-grey !important;
  transition: background 0.2s ease-in-out !important;
}
