@import '../../sass/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.nav--inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  align-items: center;
}
.adidas--nav--link {
  color: $black;
}
.adidas--nav {
  font-size: 4.5rem;
  cursor: pointer;
}
.adidas--nav:hover {
  color: $medium-grey;
}
.nav--links {
  padding-left: 6rem;
}
.nav--link {
  text-decoration: none;
  color: $black;
  padding: 0 0.75rem 18px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s, color 0.2s;
  font-weight: 500 !important;
}
.nav--link:hover {
  border-bottom: 2px solid $black;
  transition: border-color 0.2s, color 0.2s;
  color: $black;
}
.nav--right {
  display: flex;
  align-items: center;
}
.button--login {
  background: $black !important;
}
.right {
  margin-right: 1rem !important ;
}
.cart--cart {
  position: relative;
}
.cart--count {
  position: absolute;
  top: 0px;
  right: -3px;
  border-radius: 50%;
  background-color: $black;
  color: $white;
  text-decoration: none;
  height: 20px;
  width: 20px;
  font-size: 0.9rem;
  display: grid;
  place-items: center;
}
.cart--span {
  margin-top: -1px;
}
.nav--icon {
  font-size: 1.7rem;
  color: $black;
}
#button--bars {
  display: none;
}
.sidebar {
  background: $black;

  right: -110%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 850ms;
  z-index: 100;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.sidebar.active {
  right: 0;
  transition: 500ms;
}
.sidebar--inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sidebar--header--wrap {
  width: 100%;
  border-bottom: 1px solid $medium-grey;
  padding-bottom: 1rem;
}
.sidebar--header {
  // position: absolute;
  // top: 1rem;
  // right: 1rem;
  width: 80%;
  // border-bottom: 1px solid $white;
  margin-inline: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.sidebar--link--wrap {
  display: grid;
  place-content: center;
  width: 100%;
  height: 60%;
}
.sidebar--logo {
  font-size: 3rem;
  color: $white;
}
.sidebar--close {
  font-size: 3rem;
  color: $white;
  cursor: pointer;
}
.sidebar--links {
  color: $white;
  text-decoration: none;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.sidebar--links:hover {
  color: $white;
}
@media (max-width: 768px) {
  .nav--links {
    display: none;
  }
  #button--bars {
    margin-right: 0 !important;
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
  }
}
