@import '../../sass/variables.scss';

.essentials--inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.essentials--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.essential--header {
  font-size: 4rem;
  font-weight: 900;
  max-width: 15ch;
  line-height: 0.85;
  letter-spacing: -3px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: $black;
  font-family: 'Nike Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.essential--text {
  text-align: center;
  color: $black;
  padding-bottom: 1rem;
}
.essential--btn--wrap {
  display: flex;
  justify-content: center;
}
.essential--btn {
  border-radius: 30px !important;
  padding: 0.275rem 1.15rem !important;
  border: 1.5px solid transparent !important;
  background: $black !important;
  color: $white !important;
  text-transform: capitalize !important;
  font-size: 1rem !important;
  letter-spacing: 1px !important;
  transition: background 0.2s ease-in-out !important;
  text-decoration: none;
}

.essential--btn:hover {
  background: $medium-grey !important;
  transition: background 0.2s ease-in-out !important;
}

// Material UI button class //
.MuiButton-root {
  margin: 0 auto;
}
@media (max-width: 500px) {
  .essential--header {
    font-size: 3.6rem;
    max-width: 100%;
  }
}
@media (max-width: 376px) {
  .essential--header {
    font-size: 3.5rem;
  }
}
